	<a href="/battle/round/score/<%=roundData[0].beerId%>/<%=roundData[1].beerId%>" class="col-xs-4 col-xs-offset-1 inner-block" id='box0'>
		<br><br>
		<% if (beerData[0].labels) { %>
			<img class='beer-photo'src='<%=beerData[0].labels.medium%>'>
		<%} else { %>
			<img class='beer-photo'src='../pics/brewsr_logo.png' height='260' width='260'>
		<% } %>
		<h3><%=roundData[0].beer.name%></h3>
		<br><br>
	</a>
	<div class="col-xs-4 col-xs-offset-2 inner-block" id='box1' data-user='<%=roundData[1].userId%>' data-beer='<%=roundData[1].beerId%>'>
		<br><br>
		<% if (beerData[1].labels) { %>
			<img class='beer-photo'src='<%=beerData[1].labels.medium%>'>
		<%} else { %>
			<img class='beer-photo'src='../pics/brewsr_logo.png' height='260' width='260'>
		<% } %>
		<h3><%=roundData[1].beer.name%></h3>	
		<br><br>
	</div>

db.usersbeers.findAll({
      where: {userId: currentUser.id}, 
      order:'random()', 
      limit: 10,
      include: [{model:db.beer}]
    })

Executing (default): SELECT "usersbeers"."id", "usersbeers"."userId", "usersbeers"."beerId", "usersbeers"."elo", "usersbeers"."lastrated", "usersbeers"."createdAt", "usersbeers"."updatedAt", "beer"."id" AS "beer.id", "beer"."dbid" AS "beer.dbid", "beer"."name" AS "beer.name", "beer"."createdAt" AS "beer.createdAt", "beer"."updatedAt" AS "beer.updatedAt" FROM "usersbeers" AS "usersbeers" LEFT OUTER JOIN "beer" AS "beer" ON "usersbeers"."beerId" = "beer"."id" WHERE "usersbeers"."userId"=1 ORDER BY random() LIMIT 10;


